.mainContainer{
    padding:0.4em;
}
.sideText{
    color:grey;
    padding-bottom: 0.5em;
}
.mainText{
    font-weight: 400;
    padding-bottom: 0.5em;
}
.icons {
    font-size: 14px !important;
    margin-left: 3px !important;
}