.form_title {
  width: 160px;
  background-color: white !important;
  border: none !important;
  font-size: 13px !important;
}

.form_entry {
  border-radius: 5px !important;
  border: 1px solid #d1ceda;
  width: 100% !important;
  padding-left: 5px;
  height: 30px;
  font-size: 13px !important;
}

.settings_save {
  background-color: #439a86;
  color: white;
  padding: 7px;
  width: 200px;
  border: 0px;
  font-size: inherit !important;
  border-radius: 5px;
  margin: 30px 10px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}
.settings_save:hover {
  background-color: #177e66;
}

.form_wrapper {
  padding: 5px 0px;
}

.form_entry_err {
  border-radius: 5px !important;
  border: 1px solid #ff0000;
  width: 100% !important;
  padding-left: 5px;
  height: 30px;
}

.form_error {
  font-size: smaller;
  color: red;
  animation-name: fadeIn;
  animation-duration: 1s;
}

@keyframes fadeIn {
  0% {
    color: rgba(255, 0, 0, 0);
  }
  100% {
    color: rgba(255, 0, 0, 1);
  }
}

.form_error_hidden {
  display: none;
}
