.loaderWrap{
    position: absolute;
    left: 0;right: 0;top: 0;bottom: 0;
    margin: auto;
    background-color: #ff9328;
}

.loader{

    position: absolute;
    left: 0;right: 0;top: 0;bottom: 0;
    margin: auto;
    border: none;
}
.loaderItem{
    position: relative;
    float: left;
}
.modalContent {
    border:none !important;
}
